body {
    font-family: "Lato", sans-serif;
  }
  div > nav{
    background-color:  pink ;
  }
  .footer{
    background-color: pink ;
  }
  
  .nav-item:hover{
    background-color: palevioletred ;
  }
  .nav-link{
    color: black !important;
  }
  .bg-sidebar{
    background-color: #50595C ;
  }